<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/imagens/logo4.png" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/css/MamboBeat.css">
    <title>MamboBeat</title>
</head>
<body class="light" id="body" >
<!-- sombra-->
<bg class="claro">

</bg>
<!-- cabeçalho-->
<header id="header" class="activo">
    <a href="#"><img id="logo" src="../static/imagens/logo1.png" alt="logo do site"></a>
        <ul id="listitem">
            <li><a class="link-dark"href="#Inicio">Início</a></li>
            <li><a class="link-dark"id="oq"href="#Oquefazemos">O que fazemos?</a></li>
            <li><a class="link-dark"href="#Quemsomos">Quem somos?</a></li>
            <li><a class="link-dark"href="#Contacto">Contacto</a></li>
        </ul>

    <span>
        <ul>
            <li><a class="link-dark"href="#">Entrar na sua conta</a></li>
            <li><a class="link-dark"href="#">Criar uma conta</a></li>
        </ul>
    </span>
</header>
<!-- conteudo-->
<main>
    <section id="Inicio">

            <img id="fundowhite" src="../static/imagens/fundowhite.png" alt="logo do site">
            <p id="conteudo">
                <span>Mambo Beat</span> dá as boas vindas a todos utilizadores, nunca vós deixa no "show" vai te salvar
                partilhado os seus projectos com o máximo de seguidores como um simples utlizador.
                <span>E ainda tem mais, quer saber o que temos de especial?</span>
            </p>
    </section>
    <section id="Oquefazemos">
        <h1 class="h1">O que fazemos?</h1>
        <div>
            <span>
                <p>Bem, sobemos o quão duro é ser <t class="tt">BeatMaker</t>, cá em <t class="tt">Angola</t>. Portatno criou-se um site para poder ajudar no que
                for preciso desde criação do seus projectos, até succeso</p>
                <p>
                Queremos fazer a diferenca na área da música, soubemos que <t class="tt">consigo</t> ou sua empresa e seus projectos
                podemos chegar onde nínguem chegou.
                </p>
        </span>
            <span>
                <p>
                <t class="tt">Cantores</t> podem escolher qual beatmaker o vai produzir, na qual vai fazer o projecto musical.
                </p>
                <p>
                    <t class="tt">Produtores</t> conseguem fazer gestão de artistas com base os dias programados.
                </p>
                <p>
                    <t class="tt">Ouvintes</t> podem recomendar e serem pagos. Para isso devem ser verficado.
                </p>
         </span>
            <img id="imagemdasegundasection"src="../static/imagens/logo3.jpg" alt="imagem do site">
        </div>

    </section>
    <section id="Quemsomos">
        <h1>Quem somos?</h1>
        <div id="container">
            <div>
                <img id="autorp" src="../static/imagens/autorp.jpg" alt="foto de uma pessoa">
            </div>
            <div class="descricao">
                <p>
                    BeatMaker, já faz 2(dois) anos com vários projectos de muitos hit, sucessos que realmente fizeram
                    alguma diferença tremenda na vida dos angolanos e não só.
                </p>
                <h3>
                    Mário Gama(Player Mário)
                </h3>
            </div>
            <div class="descricao">
                <h3>
                    Joshua Da Costa(Programador)
                </h3>
                <p>
                    Programador, já faz 2(dois) anos, uns dos seus primeiro projectos lançado foi MamboBeat, inspirado
                    pelo amigo e apaixonado pela boa musica e pelos seus fazendores da boa arte
                </p>

            </div>
            <div>
                <img id="autorj"src="../static/imagens/joshuadacosta.jpg" alt="foto de uma pessoa">
            </div>
        </div>
    </section>
</main>
<!--footer-->
<footer  id="Contacto">
        <div id="Contacto-parte-um">

                <img class="contacto-parte-um-img"src="../static/imagens/logo4.png" alt="logo">

            <div id="Contacto-parte-um-lista-ul">
                <ul>
                    <h5>MamboBeat</h5>
                    <li><a href="#">Lar</a></li>
                    <li><a href="#">Características</a></li>
                    <li><a href="#">Preços</a></li>
                    <li><a href="#">Ferramentas</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>
                </ul>
                <ul>
                    <h5>Produtos</h5>
                    <li><a href="#">Serviços de monetização</a></li>
                    <li><a href="#">Serviços de marketing digital</a></li>
                    <li><a href="#">Serviços de investimentos</a></li>

                </ul>
                <ul id="empresa">
                    <h5>Empresa</h5>
                    <li><a href="#">Nossa história</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                    <li><a href="https://github.com/JoshuaDaCosta/MAMBOBEAT/blob/main/LICENSE">Jurídico e Privacidade</a></li>
                    <li><a href="https://joshuadacosta.github.io/">Desenvolvedores</a></li>

                </ul>
            </div>

                <img class="../static/imagens/contacto-parte-um-img"src="../static/imagens/logo5.png" alt="logo">

        </div>


        <div id="Contacto-parte-dois">
            <h5>@2023COPYRIGHT</h5>
            <ul id="Contacto-parte-dois-lista-ul">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Threads</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
            <img  class="mode" id="modelight" onmouseover="this.style.cursor='pointer'" onclick="chngimg()" src="../static/imagens/control.png"  alt="mode">
        </div>
</footer>

<!-- jquery-->

<script type="text/javascript" src="../static/javascript/mode.js"></script>
</body>
</html>